<details class="with-accordion">
  <summary class="with-icon hover:underline">
    <span class="grow">Add new address</span>
    {% render 'icon' with 'chevron-right' %}
  </summary>

  {% form 'customer_address', customer.new_address, class: 'md:max-w-lg mt-2 grid gap-2' %}
    {% render 'address-fields', address: form %}

    <div>
      <button class="action">Add</button>
    </div>
  {% endform %}
</details>
