<li class="line-clamp-1" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  {%- comment -%}{%- endcomment -%}
  <a class="inline-block hover:underline" href="{{ link }}" itemprop="item" href="https://example.com/books">
    <span itemprop="name">{{ title }}</span>
    <meta itemprop="position" content="{{ position }}" />
  </a>
</li>
