{%- assign ctas = section.blocks | where: 'type', 'cta' | map: 'settings' -%}

{%- if ctas.size -%}
  <p class="flex flex-wrap items-center justify-center gap-[1em]">
    {%- for cta in ctas -%}
      {%- if cta.label != blank -%}
        <a class="{{ cta.style }}" href="{{ cta.url }}">{{ cta.label }}</a>
      {%- endif -%}
      {%- endfor -%}
  </p>
{%- endif -%}
