<h1 class="text-center">Log in</h1>

{% form 'customer_login', class: 'grid gap-2' %}
  {{ form.errors | default_errors }}

  <div class="with-label">
    <label for="customer-email">Email</label>
    <input class="input w-full" id="customer-email" name="customer[email]" type="email" placeholder="john@example.com" autocomplete="email" required>
  </div>

  <div>
    <div class="with-label">
      <label for="customer-password">Password</label>
      <input class="input w-full" id="customer-password" name="customer[password]" type="password" autocomplete="current-password" required>
    </div>
    <p class="flex flex-wrap gap-[1em] text-sm">
      {{ 'Forgot your password?' | link_to: '#recover', class: 'link' }}
      {{ 'Create an account?' | link_to: routes.account_register_url, class: 'link' }}
    </p>
  </div>

  <div>
    <button class="action" type="submit">Log in</button>
  </div>
{% endform %}
