<fieldset class="p-3 bg-canvas-subdued">
  <legend class="technical text-xs">Gift card recipient <small>optional</small></legend>

  <div class="grid grid-cols-2 gap-2 [&_label]:bg-canvas-subdued">
    <div class="with-label">
      <label for="gift-card-recipient-email">Recipient email</label>
      <input class="input w-full" id="gift-card-recipient-email" name="properties[gift-card-recipient-email]" type="email" placeholder="john@example.com">
    </div>

    <div class="with-label">
      <label for="gift-card-recipient-name">Recipient name</label>
      <input class="input w-full" id="gift-card-recipient-name" name="properties[gift-card-recipient-name]" type="text" placeholder="John Smith">
    </div>

    <div class="with-label col-span-full">
      <label for="gift-card-recipient-message">Message</label>
      <textarea
        class="input w-full"
        id="gift-card-recipient-message"
        name="properties[gift-card-recipient-message]"
        rows="2"
        placeholder="Hope you enjoy this gift!"
      ></textarea>
    </div>
  </div>
</fieldset>
