{%- capture qty -%}
  <span data-inventory-quantity>
    {{- product.selected_or_first_available_variant.inventory_quantity | default: 0 -}}
  </span>
{%- endcapture -%}

<span>
  {{ text
    | escape
    | default: '# left'
    | replace: '#', qty
  }}
</span>
