{% form 'customer', class: class %}
  <div class="with-label">
    <label for="contact-email-{{ id }}">Email</label>
    <input
      class="input w-full"
      id="contact-email-{{ id }}"
      name="contact[email]"
      type="email"
      placeholder="john@example.com"
      required
    />
  </div>

  <div>
    <button class="action">
      {{- submit_label | default: 'Sign up' -}}
    </button>
  </div>
{% endform %}
