<li>
  <a class="group grid gap-2" href="{{ page.url }}">
    <figure class="overflow-hidden shadow-md">
      {%- if page.image -%}
        {{ page.image
          | image_url: width: 500, height: 500
          | image_tag: class: 'w-full group-hover:scale-105 transition-transform', loading: 'lazy'
        }}
      {%- else -%}
        <div class="grid place-content-center p-4 aspect-square bg-canvas-subdued text-ink-subdued">
          <p class="line-clamp-3">
            {{ page.content
              | strip_html
              | truncatewords: 30
            }}
          </p>
        </div>
      {%- endif -%}
    </figure>

    <dl class="grid gap-2">
      <dt class="h3 group-hover:underline">{{ page.title }}</dt>
    </dl>
  </a>
</li>
