{%- liquid
  assign p = product_variant | default: product.selected_or_first_available_variant
  assign availabilities = p.store_availabilities | where: 'pick_up_enabled', true
-%}

<div class="grid gap-2 p-2 px-3 bg-gradient-to-r from-canvas-subdued to-transparent">
  <div class="technical text-xs -mt-4">Pickup availability</div>

  <div data-pickup-availability>
    {%- for availability in availabilities -%}
      <details class="with-accordion text-sm">
        <summary class="with-icon">
          <span class="grow">
            {%- if availability.available -%}<b class="text-green-600">Available</b>
            {%- else -%}<b class="text-red-600">Unavailable</b>
            {%- endif %}
            at <b>{{ availability.location.name }}</b>
          </span>
          {% render 'icon' with 'chevron-right' %}
        </summary>

        <div class="grid gap-2 ml-3 mt-2">
          {% render 'address' with availability.location %}

          <dd class="text-sm"><em>{{ availability.pick_up_time }}</em></dd>
        </div>
      </details>
    {%- endfor -%}
  </div>
</div>
