{%- if predictive_search.resources[type].size > 0 -%}
  <div>
    <h2 class="technical text-xs">{{ type }}</h2>
    <ul>
      {%- for article in predictive_search.resources[type] -%}
        <li>{{ article.title | link_to: article.url }}</li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
