{%- liquid
  if product.has_only_default_variant
    assign p = product
  else
    assign p = product.selected_or_first_available_variant
  endif
-%}

<div class="flex flex-wrap gap-1 items-baseline">
  <span data-price>{{ p.price | money }}</span>
  <s
    class="ml-1"
    data-compare-at-price
    {% unless p.price < p.compare_at_price %}hidden{% endunless %}
  >
    {{ p.compare_at_price | money }}
  </s>

  {% render 'unit-price', measurement: p.unit_price_measurement %}
</div>
