{%- liquid
  if product.has_only_default_variant
    assign p = product
  else
    assign p = product.selected_or_first_available_variant
  endif

  capture unit_price
    render 'unit-price', measurement: product.selected_or_first_available_variant.unit_price_measurement
  endcapture
-%}

<div class="flex flex-wrap gap-2 items-baseline">
  <span>
    <strong data-price>{{ p.price | money }}</strong>
    {{- unit_price -}}
  </span>

  <span {% unless p.price < p.compare_at_price %}hidden{% endunless %}>
    <s data-compare-at-price>{{ p.compare_at_price | money }}</s>
    {{- unit_price -}}
  </span>

  {%- if show_taxes_included and cart.taxes_included -%}
    <small>(Taxes incl.)</small>
  {%- endif -%}
</div>
