<span class="input-number-label">&times;</span>
<input
  class="input-number w-[4em]"
  name="{{ name | default: 'quantity' }}"
  value="{{ value | default: 1 }}"
  min="{{ min | default: 1 }}"
  type="number"
  required
/>
