<h1 class="text-center">Recover password</h1>

{% form 'recover_customer_password', class: 'grid gap-2' %}
  {{ form.errors | default_errors }}

  <div>
    <div class="with-label">
      <label for="recover-email">Email</label>
      <input class="input w-full" id="recover-email" name="email" type="email" placeholder="john@example.com" required>
    </div>
    <p class="text-sm">{{ 'I remember my login' | link_to: routes.account_login_url, class: 'link' }}</p>
  </div>

  <div>
    <button class="action" type="submit">Submit</button>
  </div>
{% endform %}
