<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="{{ canonical_url }}">
  {% unless settings.font_heading.system? and settings.font_body.system? -%}
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  {%- endunless -%}

  <title>
    {%- liquid
      echo page_title
      unless page_title == shop.name
        echo ' | ' | append: shop.name
      endunless
    -%}
  </title>
  {% if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif %}

  {%- liquid
    echo content_for_header
    render 'tailwind'
  -%}
</head>
<body>
  <main>
    {% liquid
      sections 'header-groups'
      echo content_for_layout
      sections 'footer-groups'

      if additional_checkout_buttons
        echo content_for_additional_checkout_buttons
      endif
    %}
  </main>
</body>
</html>
