<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {%- liquid
      echo page_title
      unless page_title == shop.name
        echo ' | ' | append: shop.name
      endunless
    -%}
  </title>

  {% render 'tailwind' %}

  {{ content_for_header }}
</head>
<body>
  <main>
    {% liquid
      sections 'header-groups'
      echo content_for_layout
      sections 'footer-groups'
    %}
  </main>
</body>
</html>
