<h1 class="text-center">Activate account</h1>

{% form 'activate_customer_password', class: 'grid gap-2' %}
  {{ form.errors | default_errors }}

  <div class="with-label">
    <label for="customer-password">Password</label>
    <input class="input w-full" id="customer-password" name="customer[password]" type="password" autocomplete="new-password" required>
  </div>

  <div class="with-label">
    <label for="customer-password-confirmation">Password</label>
    <input class="input w-full" id="customer-password-confirmation" name="customer[password_confirmation]" type="password" autocomplete="new-password" required>
  </div>

  <div class="flex flex-wrap gap-[1em] text-sm">
    <button class="action" type="submit">Activate account</button>
    <button class="link" name="decline">Decline activation</button>
  </div>
{% endform %}

{% schema %}
{
  "name": "Activate customer password",
  "tag": "section",
  "class": "section max-w-lg rte",
  "settings": [

  ]
}
{% endschema %}
