{%- liquid
  assign static = section.blocks | where: 'type', 'static' | map: 'settings' | first
  assign scheduled_blocks = section.blocks | where: 'type', 'scheduled' | map: 'settings'

  for scheduled in scheduled_blocks
    assign now = 'now' | replace: '-0500', '-0800' | date: '%s' | plus: 3600
    assign start = scheduled.start_datetime | append: ' -0800' | date: '%s' | times: 1
    assign end = scheduled.end_datetime | append: ' -0800' | date: '%s' | times: 1

    if now >= start and now <= end
      assign scheduled_is_active = true
      assign active = scheduled
    endif
  endfor

  if scheduled_is_active and active != nil
    render 'announcement', data: active
  elsif static != nil
    render 'announcement', data: static
  endif
-%}

{% schema %}
{
  "name": "Announcement",
  "tag": "aside",
  "class": "section-announcement text-center text-sm",
  "settings": [

  ],
  "blocks": [
    {
      "type": "static",
      "name": "Static",
      "limit": 1,
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Announcement goes here</p>"
        }
      ]
    },
    {
      "type": "scheduled",
      "name": "Scheduled",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Announcement goes here</p>"
        },
        {
          "type": "header",
          "content": "Scheduling",
          "info": "Format: YYYY-MM-DD HH:MM:SS"
        },
        {
          "type": "text",
          "id": "starttime",
          "label": "Start datetime"
        },
        {
          "type": "text",
          "id": "end_datetime",
          "label": "End datetime"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement",
      "blocks": [
        {
          "type": "static",
          "settings": {
            "content": "<p>Announcement goes here</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
