{%- liquid
  for block in section.blocks
    case block.type
      when 'static'
        render 'announcement-item', block: block

      when 'scheduled'
        assign now = 'now' | replace: '-0500', '-0800' | date: '%s' | plus: 3600
        assign start = block.settings.start_datetime | append: ' -0800' | date: '%s' | times: 1
        assign end = block.settings.end_datetime | append: ' -0800' | date: '%s' | times: 1

        if now >= start and now <= end
          render 'announcement-item', block: block
        endif
    endcase
  endfor
-%}

{% schema %}
{
  "name": "Announcement",
  "tag": "aside",
  "class": "text-center text-sm",
  "settings": [

  ],
  "blocks": [
    {
      "type": "static",
      "name": "Static",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Announcement goes here</p>"
        }
      ]
    },
    {
      "type": "scheduled",
      "name": "Scheduled",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Announcement goes here</p>"
        },
        {
          "type": "header",
          "content": "Scheduling",
          "info": "Format: YYYY-MM-DD HH:MM:SS"
        },
        {
          "type": "text",
          "id": "starttime",
          "label": "Start datetime"
        },
        {
          "type": "text",
          "id": "end_datetime",
          "label": "End datetime"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement"
    }
  ]
}
{% endschema %}
