<header class="text-center rte">
  {%- if section.settings.content != blank -%}
    {{ section.settings.content }}
  {%- else -%}
    <h1>{{ page_title }}</h1>
  {%- endif -%}

  {%- if cart.empty? -%}
    <p>Your cart is empty</p>
  {%- endif -%}

  <p>
    <a class="action" href="{{ section.settings.empty_cta_link }}">
      {{ section.settings.empty_cta_label | default: 'Continue shopping' }}
    </a>
  </p>
</header>

{%- unless cart.empty? -%}
  {% form 'cart', cart, class: 'grid gap-8 max-w-screen-lg mx-auto' %}
    <ul class="mt-8">
      {% render 'line-item' for cart.items as line_item %}
    </ul>

    {% render 'checkout-details', cart: cart %}
  {% endform %}
{%- endunless -%}

<script defer>
  (function(){
    const cartForm = document.querySelector('#cart_form')

    cartForm.querySelectorAll('[name="updates[]"], [name="note"]').forEach(input => {
      input.addEventListener('input', ({ target }) => {
        target.setAttribute('value', Math.max(0, target.valueAsNumber))
        target.classList.add('border-warning', 'bg-warning/10', 'animate-pulse')
        cartForm.querySelector('input[type="submit"]').removeAttribute('hidden')
      })
    })
  })()
</script>

{% schema %}
{
  "name": "Cart form",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "checkout_label",
      "label": "Checkout label",
      "placeholder": "Checkout"
    },
    {
      "type": "header",
      "content": "Empty state"
    },
    {
      "type": "text",
      "id": "empty_cta_label",
      "label": "Empty call-to-action label",
      "placeholder": "Continue shopping"
    },
    {
      "type": "url",
      "id": "empty_cta_link",
      "label": "Empty call-to-action link"
    }
  ]
}
{% endschema %}
