<header class="rte mb-8">
  <h1>{{ collection.title }}</h1>
  {{ collection.description }}
</header>

{% render 'product-grid', products: collection.products, size: section.settings.grid_item_size %}

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "grid_item_size",
      "label": "Grid item size",
      "unit": "px",
      "min": 100,
      "max": 350,
      "step": 10,
      "default": 180
    }
  ]
}
{% endschema %}
