<header class="rte mb-8">
  <h1>{{ collection.title }}</h1>
  {{ collection.description }}
</header>

{% render 'product-carousel' with collection.products %}

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}
