<details class="p-4 bg-gray-100 rte border-2 border-dashed border-gray-300">
  <summary>🚧 Timeless Theme Documentation</summary>
  <table class="w-full bg-white">
    <tr>
      <td>Tailwind CSS Configuration</td>
      <td><code>snippets/tailwind.liquid</code></td>
    </tr>
  </table>
</details>

{% schema %}
{
  "name": "documentation",
  "tag": "section",
  "class": "p-4",
  "settings": [

  ]
}
{% endschema %}
