<a href="{{ routes.root_url }}">{{ shop.name }}</a>

<style>
  .header {
    background-color: {{ section.settings.color_scheme.settings.canvas }};
    color: {{ section.settings.color_scheme.settings.ink }};
  }
</style>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    }
  ]
}
{% endschema %}
