<div class="section text-center rte {{ section.settings.tailwind | default: 'max-w-lg' }}">
  {{ section.settings.content }}

  {% render 'newsletter-form'
    class: 'max-w-sm mx-auto grid grid-cols-[1fr,auto] gap-2 items-end'
    submit_label: section.settings.submit_label
  %}
</div>

{% schema %}
{
  "name": "Newsletter form",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "liquid",
      "id": "tailwind",
      "label": "Tailwind classes",
      "info": "Default: \"max-w-lg\""
    },
    {
      "type": "header",
      "content": "Form"
    },
    {
      "type": "text",
      "id": "submit_label",
      "label": "Submit label"
    }
  ],
  "disabled_on": {
    "groups": [
      "*"
    ]
  },
  "presets": [
    {
      "name": "Newsletter form",
      "settings": {
      }
    }
  ]
}
{% endschema %}
