<div
  {% if section.settings.tailwind %}class="{{ section.settings.tailwind }}"{% endif %}
>
  {{ page.content }}
</div>

{% schema %}
{
  "name": "Blank page",
  "tag": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "tailwind",
      "label": "Tailwind classes"
    }
  ]
}
{% endschema %}
