<h1>{{ shop.name }}</h1>

{{ shop.password_message }}

{% form 'storefront_password', class: 'max-w-sm mx-auto' %}
  {{ form.errors | default_errors }}

  <div class="with-label">
    <label for="password">Password</label>
    <input
      class="input w-full"
      id="password"
      name="password"
      type="password"
    />
  </div>
{% endform %}

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "class": "section rte text-center",
  "settings": [

  ]
}
{% endschema %}
