{% if request.design_mode %}
  <div class="section text-center rte">
    <h2>Welcome to the Timeless Theme</h2>
    <p><small>This is a placeholder section that is only visible in the Theme Editor.</small></p>
  </div>
{% endif %}

{% schema %}
{
  "name": "Placeholder",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Placeholder section",
      "info": "Visible only in the Theme Editor"
    }
  ]
}
{% endschema %}
